@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    background-color: #02918b;
}
nav .container{
    width: 1170px;
    margin: auto;
    background-color: #02918b;
}
nav .container .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0 23px 0;
}
nav .container .row ul li{
    display: inline-block;
    padding-right: 25px;
}
nav .container .row ul li a{
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: bolder;
}
#banner{
    height: 730px;
    background-image: url('../images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#banner .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 730px; 
}
#banner .container h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: white;
}
#banner .container h1{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 68px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 16px;
}
#banner .container p{
    color: white;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
#banner .container img{
    padding: 53px 0;
}
#banner .container button{
    background-color: #cfc91d;
    padding: 19px 42px;
}
#banner .container button a{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
#about{
    height: 740px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#about h2{
    padding-top: 98px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #02918c;
    font-size: 46px;
}
#about h4{
    margin: 30px;
}
#about p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 35px;
}
#about p .bolder{
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
#about .work{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    column-gap: 100px;
    padding: 100px;
}
#about .work .work-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#about .work .work-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#about .work .work-3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#about .work .work-4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#about .work .work-1 i{
    font-size: 50px;
}
#about .work .work-2 i{
    font-size: 50px;
}
#about .work .work-3 i{
    font-size: 50px;
}
#about .work .work-4 i{
    font-size: 50px;
}
